<h3>{{ _('Spoolman Companion Configuration') }}</h3>

<form class="form-horizontal">

    <!-- connection settings -->
    <div class="control-group" title="{{ _('Your Spoolman URL.') }}">
        <label class="control-label">{{ _('Spoolman URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.spoolman.spoolman_url" placeholder="https://10.0.0.1:7912">
        </div>
    </div>
</form>
